
body {
  margin: 0 auto;
  min-width: 900px;
  background-image: url("https://c.wallhere.com/photos/b3/3f/Firewatch_forest_mountains-73064.png!d");
}


header h1 {
    position: static;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-family: "Berkshire Swash" ;
    font-weight: bold;
    font-size: 100px;
    color: rgba(0,0,0,0.8);
    letter-spacing: 10px;
    height: 110px;
    text-shadow: 2px 2px white;
    padding-top: 0;
    overflow: visible;
  }


.subtitles {
  width: 100%;
  position: relative;
  text-align: center;
}

.subtitle
 {
  display: inline-block;
  text-align: center;
  padding:10px;
  margin: 0 auto;
  font-family: "Berkshire Swash";
  font-size: 40px;
  text-shadow: 1.5px 1.5px white;
  color: rgba(0,0,0,0.8);

}

header h3 {
  text-align: center;
  font-family: "Berkshire Swash";
  font-size: 30px;
  text-shadow: 1px 1px white;
  color: rgba(0,0,0,0.8);
  position: relative;
  bottom: 10px;

}
.pupusas {
  height: 100%;
  width: 100%;
}

.nav {
  height: 180px;
  width: 100%;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-family: "Berkshire Swash";
  text-shadow: 2px 2px white;
  margin: 20px;
  align-content: space-between;
  position: relative;
  top: 30px;
  right: 15px;

}

#clicker {
  position: relative;
  bottom: 400px;
  right: 150px;
  width: 100px;
  height: 400px;
  font-size: 40px;
  color: rgba(0,0,0,0.8);
  text-shadow: 0.5px 0.5px white;

}
.menu {
  color:black;
}

.about {
  font-family: "Lato";
  background-color: rgba(212, 190, 190, 0.3);
  padding: 15px;
  font-size: 30px;
  border-radius: 20px;
  z-index: 5;
  position: relative;
  bottom: 440px;
  right: 175px;
  width: 700px;
  text-align: center;
  text-shadow: none;
}

#about {
  visibility: hidden;
}

.nav h2 {
  padding: 30px;
  align-content: center;
  padding-bottom: 50px;
  display: inline-block;
  border: 2px black solid;
  box-shadow: 0px 1px 1px 0px;
  font-size: 40px;
  font-weight: 10;
  text-shadow: 5px 5px black;
  color: rgba(255, 255, 255, 0.7);

}

.nav h2:hover {
  background-color: rgba(205, 202, 202, 0.3);
}


.center {
  margin: 0 auto;
  height: 400px;
  width: 360px;
  border-radius: 40px;
  box-shadow: 1px 8px 8px 1px grey;
  background-color: hsla(0, 0%, 86%, 0.8);
  font-family: "Berkshire Swash";
  font-size: 20px;
  text-shadow: 2px 2px white;


}

#center {
  visibility: visible;
}
.body {
  width: 100%;
}

#contact {
  visibility: hidden;
  position: relative;
  bottom: 950px;
  right: 120px;
  text-align: center;
  font-family: "Berkshire Swash";
  font-size: 60px;
  width: 600px;
  padding: 0px;
  border-radius: 20px;
  text-shadow: 2px 2px white;
  color: rgba(10, 10, 10, 0.9)
}
.homepic {
  height: 400px;
}
.center h1 {
  position: relative;
  text-align: center;
  bottom: 50px;
  color: rgba(0,0,0,0.8);
  text-shadow: 1.2px 1.2px white;
}

.center img {
  border-radius: 40px;
}

footer {
  display: inline-block;
  background-color: #211022;
  height: 50px;
  width: 100%;
}
footer img {
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 100px;
}
